*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


.hero-banner{
    background-image:url("hero.jpg");
height: 100vh;
background-position: center;
background-size: cover;
width: 100%;
display: flex;
align-items: center;
justify-content: center;


}
.inner_contect{
    color:red;
    text-align: center;

}
.inner_contect h1{
    font-size: 50px;
    margin-bottom: 10px;

}
.inner_contect p {
    font-style: italic;
    margin-bottom: 10px;
}
.inner_contect button{
color: white;
border-radius: 15px;
background-color: blue;
padding: 20px 30px;
border: none;
}